@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
/* init */

:root {
	--clr: hsl(228, 7%, 14%);
	--background_clr: hsl(140, 89%, 65%);
	--footer_bg: hsl(0, 0%, 20%);
	--footer_clr: hsl(0, 0%, 100%);
	--article_bg: hsl(140, 87%, 78%);
	--article_border: 4px solid hsl(0, 0%, 100%);
	--article_border_radius: 40px;
	--article_left: 5%;
	--article_padding: 0 10px;
	--header_clr: hsl(0, 0%, 100%);
	--button_clr: hsl(137, 100%, 73%);
	--scrollbar_clr: hsl(0, 0%, 81%);
}
html,
body {
	background-color: var(--background_clr);
	font-family: 'Poppins', sans-serif;
	padding-bottom: 110px;
}
/*custom scrollbar */
*::-webkit-scrollbar {
	width: 15px;
	height: 15px;
	scroll-margin: 10px;
}
*::-webkit-scrollbar-track {
	background: #fff;
}
.article::-webkit-scrollbar-track {
	margin: 30px;
	border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar_clr);
	border-radius: 20px;
	border: 3px solid #f6f6f6;
}
/* header */
.header {
	background-color: var(--header_clr);
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	left: 0px;
	z-index: 1;
}
/*dropdown*/

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 0px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.visible {
	display: block;
	animation: fadein 0.25s forwards;
	animation: dropdown 0.2s forwards;
}
.fadeout {
	display: block;
	animation: fadeout 0.25s forwards;
	animation: dropdownout 0.2s forwards;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes dropdown {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes dropdownout {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		transform: translateY(-10px);
		opacity: 0;
	}
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown label {
	top: 10px;
	background-color: transparent;
}
#dropdown-toggle:checked ~ .dropdown-content {
	display: block;
}
.dropdown {
	z-index: 1;
	opacity: 1;
}
.dropbtn {
	font-size: 35px;
	border: none;
	cursor: pointer;
	background-color: var(--header_clr);
}
.dropdown {
	position: fixed;
	top: 0px;
	right: 70px;
	display: inline-block;
}
.pfp {
	max-width: 220%;
	border-radius: 50%;
}
.logo {
	background-color: var(--header_clr);
	display: flex;
	width: 100px;
	height: 100px;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}
.logo:hover {
	transform: rotate(360deg);
	transition: 1s;
}
.name_text {
	/*website name*/
	font-size: 11px;
	position: fixed;
	display: flex;
	left: 110px;
	justify-content: center;
	align-items: center;
}
.welcome {
	/*welcome text user + role*/
	color: black;
	position: fixed;
	top: 20px;
	right: 130px;
}
/*navigation*/
.navigation,
.login {
	z-index: 1;
	top: 0px;
	padding: 14px 16px;
	height: 50px;
	position: fixed;
	display: flex;
	background: var(--header_clr);
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}
.navigation {
	float: left;
	left: 36%;
	width: 350px;
}
.login {
	float: right;
	right: 10px;
	width: 50px;
}
.navigation ul {
	display: flex;
	width: 350px;
}
.login ul {
	display: flex;
	width: 50px;
}
.navigation ul li,
.login ul li {
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
}
.navigation ul li a,
.login ul li a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}
.login ul li a {
	right: 20px;
}
.navigation ul li a .icon,
.login ul li a .icon {
	position: relative;
	display: block;
	line-height: 75px;
	font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	color: var(--clr);
}
.navigation ul li a .text,
.login ul li a .text {
	position: absolute;
	color: var(--clr);
	font-weight: 400;
	font-size: 0.75em;
	opacity: 0;
	letter-spacing: 0.05em;
	transition: 0.5s;
	transform: translateY(20px);
}
.navigation ul li:hover a .text,
.login ul li:hover a .text {
	opacity: 1;
	transform: translateY(10px);
}
.navigation ul li:hover a .icon,
.login ul li:hover a .icon {
	transform: translateY(-15px);
}

/* body */
.articles {
	align-items: center;
	display: flex;
	justify-content: center;
}
.article {
	display: inline-block;
	position: relative;
	background-color: var(--article_bg);
	border-radius: var(--article_border_radius);
	border: var(--article_border);
	top: 100px;
	word-wrap: break-word;
	padding: var(--article_padding);
	width: 45%;
	max-width: 1000px;
}
.article:first-child,
.article:last-child {
	margin-right: 10px;
}
.scroll {
	/*article with scrollbar*/
	min-height: 400px;
	max-height: 400px;
	overflow-y: auto;
}
.article button {
	background-color: var(--button_clr);
	border: var(--article_border);
	border-radius: var(--article_border_radius);
	width: 100px;
	height: 40px;
}
.startbtn {
	transform: scale(1);
	transition: 0.5s;
}
.startbtn:hover {
	transform: scale(1.1);
}
/* text */
.article h2 {
	text-align: center;
}
.article p {
	padding: 5px;
}
/* footer */
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	color: var(--footer_clr);
	min-height: 35px;
	overflow: hidden;
}

.footer_padding {
	height: fit-content;
	overflow: hidden;
	background-color: var(--footer_bg);
	max-height: 0;
	transition: max-height 1s ease-in-out;
	padding-left: 80px;
	padding-right: 80px;
}

.footer_default {
	background-color: var(--footer_bg);
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.footer.expanded .footer_padding {
	max-height: 500px;
	transition: max-height 1.1s ease-in;
}

.footer:not(.expanded):hover .footer_padding {
	max-height: 500px;
	transition: max-height 1.1s ease-out;
}

.footer:not(:hover) .footer_padding {
	max-height: 0;
	transition: max-height 0.4s ease-out;
}

.infobtn {
	background-color: var(--button_clr);
	border:  none;
	width:170px;
	height: 30px;
	border-radius: var(--article_border_radius);
}
.footer_padding {
	padding-left: 80px;
	padding-right: 80px;
}
.footer a {
	color: #fff;
}
.footer_cpr {
	font-size: small;
}

.socials ion-icon:hover {
	transform: scale(1.8);
}
.socials ion-icon {
	transform: scale(1.5);
	font-size: large;
	padding-right: 10px;
	transition: 0.3s;
}
.grid_container {
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.footer .grid_container .grid_item:nth-child(4){
	text-align: center;
	 }
.grid_item {
	display: block;
	text-align: left;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}
.separator_line {
	border: 1px solid hsla(0, 0%, 0%, 0.5);
	margin: 10px;
}
.mobile,
.mobile .dropdown-content,
#show,
#content label,
#more {
	display: none;
}
@media only screen and (max-width: 1280px) {
	.scroll {
		max-height: 400px;
		overflow-y: auto;
	}
	.articles .grid_container{
		grid-template-columns: auto auto;
	}
}
@media only screen and (max-width: 1060px) {
	.navigation {
		width: 200px;
		left: 40%;
	}
	.navigation ul li {
		width: 50px;
		left: -10%;
	}
	.footer_cpr {
		font-size: 14px;
	}
	.footer{
		font-size: 14px;
	}
	.footer_padding {
		padding-left: 20px;
		padding-right: 20px;
	}
	.socials ion-icon {
		font-size: small;
		padding-right: 5px;
	}
	.infobtn {
		font-size: 13px;
		width: 120px;
		height: 20px;
	}

	@media only screen and (max-width: 900px) {
		.welcome {
			display: none;
		}
		.navigation {
			left: 50%;
		}

		article {
			width: 88%;
		}
		setup article {
			top: 150px;
			left: var(--article_left);
		}
		.article {
			width: 100%;
		}
		.articles .grid_container{
			grid-template-columns: auto;
		}
		.grid_container .grid_item:nth-child(4){
			text-align: center;
			 }
			 .socials{
				transform: translateX(3px);
			 }	
			 .grid_item{
				padding: 0px;
			 }
		@media only screen and (max-width: 720px) {
			@media screen and (orientation: landscape) {
				.footer {
					display: none;
				}
			}
			#dropdown_account .dropdown-content{
				display: none;
			}
			.articles .grid_container{
				grid-template-columns: auto auto;
			}
			.footer .grid_container .grid_item:nth-child(3) {
			display: none;
 			}
			.dropdown {
				top: 12px;
			}
			.pfp {
				max-width: 150%;
			}
			.article {
				width: 90%;
				min-height: fit-content;
			}
			.articles {
				flex-direction: column;
			}
			.scroll:first-child,
			.scroll {
				max-height: fit-content;
			}
			.article:first-child {
				margin-right: 0px;
			}
			.article:last-child {
				margin-top: 20px;
				margin-left: 0px;
			}
			.article .setup {
				top: 20px;
			}
			.scroll label {
				text-align: center;
			}
			#show:checked ~ #content,
			#content label,
			#more,
			.mobile {
				display: block;
			}
			.login {
				right: 0vh;
				background: none;
				top: -7px;
			}
			.login ul li:hover a .icon {
				transform: translateY(0px);
			}
			*::-webkit-scrollbar,
			.login ul li a .text,
			#content,
			#show:checked ~ #more,
			.navigation {
				display: none;
			}
			#login {
				right: 0px;
			}
		}
/* Overall style for SweetAlert modals */
.swal2-popup {
	font-size: 14px !important;
	border-radius: 10px !important;
	overflow: hidden !important;
  }
  
  /* Style for custom HTML container */
  .swal2-html-container {
	margin: 0em 0.5em !important;
	font-size: 1em !important;
  }
  
  /* Style for HTML content */
  .swal2-content {
	text-align: center !important;
  }
		@media only screen and (max-width: 500px) { 
			.articles .grid_container{
				grid-template-columns: auto;
			}
			.footer_content .grid_container {
				display: grid;
				grid-template-columns: auto auto;
				grid-template-rows: auto auto;
			}
			
			.footer_content .grid_item:nth-child(1) {
				grid-row: 1 / span 2;
			}
			
			.footer_content .grid_item:nth-child(2) {
				grid-row: 1 / span 1;
			}
			
			.footer_content .grid_item:nth-child(3) {
				grid-row: 2 / span 1;
			}
			
			.footer_content .grid_container .grid_item:nth-child(4) b{
				display: none;
			}
			.footer_content .grid_container .grid_item:nth-child(4) {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
			.infobtn {
				width: fit-content;
				height: fit-content;
				font-size: 18px;
				background-color: transparent;
				color: #fff;
			}
		}
		@media only screen and (max-width: 449px) {
			.footer_default {
				height: fit-content;
			  }
			.name_text h1 {
				font-size: 15px;
			}
			.name_text {
				top: 10px;
			}
			@media only screen and (max-width: 375px) {
				.name_text h1 {
					display: none;
				}
			}
		}
	}
}
.skeleton {
	opacity: .7;
	animation: skeleton-loading 1s linear infinite alternate;
  } 
  
  @keyframes skeleton-loading {
	0% {
	  background-color: hsl(200, 20%, 70%);
	}
  
	100% {
	  background-color: hsla(204, 20%, 95%, 0.3);
	}
  }
  ion-icon:not(:defined)::before{
	content: "";
	display: inline-block;
	/* set to center */
	transform: translate(0%, 5px);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	animation: skeleton-loading 1s linear infinite alternate;
  }
/* set background to all images before loaded skeleton loading but not .logo */
img{
	animation: skeleton-loading 1s linear infinite alternate;
	border-radius: 50%;
  }
  td img{
	width: 50px;
	height: 50px;
  }
  
  img.loaded, .logo img{
	animation: none;
  }